@charset 'utf-8';


@import './abstract/functions';
@import './abstract/variables';
@import './abstract/mixins';


@import './base/reset';
@import './base/root';
@import './base/theme';
@import './base/icons';
@import './base/typography';


@import './layout/general/grid';
@import './layout/grid';
@import './layout/header';
@import './layout/cards';
@import './layout/icon-text';
@import './layout/review';

// cart styles
@import './layout/cart/cart';
@import './layout/cart/cart-item';
@import './layout/cart/shopping-cart';
@import './layout/cart/steps';

// section styles
@import './layout/sections/section';
@import './layout/sections/hero';
@import './layout/sections/categories';
@import './layout/sections/products';
@import './layout/sections/features';
@import './layout/sections/feedbacks';
@import './layout/sections/blogs';
@import './layout/sections/newsletter';
@import './layout/sections/product-display';

// form layout
@import './layout/form/form';

@import './layout/footer';


@import './components/buttons/button';
@import './components/buttons/button-group';
@import './components/links';
@import './components/badges';
@import './components/form-fields';
@import './components/dropdown';
@import './components/header';
@import './components/pagination';
@import './components/navigation';
@import './components/breadcrumb';
@import './components/user-dp';
@import './components/titles';
@import './components/cards';
@import './components/progress-bar';
@import './components/notify';


@import './utils/spacing';
@import './utils/sizing';
@import './utils/display';