.d-none {
    display: none;

    @each $bp, $bp-value in $up-breakpoints {
        &\:#{$bp} {
            @include up-media($bp) {
                display: none;
            }
        }
    }
}

.d-block {
    display: block;

    @each $bp, $bp-value in $up-breakpoints {
        &\:#{$bp} {
            @include up-media($bp) {
                display: block;
            }
        }
    }  
}