.l-page-pad-x {
    padding: 0 2em;

    @include up-media("sm") {
        padding: 0 2.5em;
    }
    
    @include up-media("xl") {
        padding: 0 3.5em;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;

    @each $bp, $bp-value in $up-breakpoints {
        &\:#{$bp} {
            @include up-media($bp) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.ml-auto {
    margin-left: auto;

    @each $bp, $bp-value in $up-breakpoints {
        &\:#{$bp} {
            @include up-media($bp) {
                margin-left: auto;
            }
        }
    }
}

.mr-auto {
    margin-right: auto;

    @each $bp, $bp-value in $up-breakpoints {
        &\:#{$bp} {
            @include up-media($bp) {
                margin-right: auto;
            }
        }
    }
}

.mr-2 {
    margin-right: 2rem;
}

.pt-0 {
    padding-top: 0;
}