.l-category {
    margin: 3em 0;

    &__options {
        margin: 3.5em 0;
    }

    &__options {
        display: flex;
    }

    &__filter-btn {
        margin-right: 2em;
        display: none;

        &:first-child {
            display: inline-block;
        }

        @include up-media("md") {
            display: block;
            
            &:first-child {
                display: none;
            }   
        }
    }


    &__sort-btn {
        margin-left: auto;
    }
}