// DEPENDS ON: .l-section
@use "sass:math";

.l-newsletter {
    border-radius: 3em;
    text-align: center; // overiding .l-section

    &__row:last-child {
        margin-top: 2.5em;
    }

    &__field {
        text-align: left;
        width: 60%;
        margin-right: 1.5em;
    }

    @include up-media("md") {
        padding: 6em 0;

        &__row:last-child {
            margin-top: 3em;
        }
    }
}