@use "sass:math";

.l-browse {
    text-align: center;
    margin-top: math.div(104, 16)*1em;
    padding: 0 .75em;
    position: relative;

    &__categories {
        margin: 1.5em 0 2.5em 0;
        padding: 2em 0;
        display: flex;
        overflow: hidden;
    }

    &__category {
        margin-right: 2em;
    }

    &__btns .icon{
        vertical-align: middle;
    }

    &__left {
        margin-right: 1em;
    }

    @include up-media("sm") {
        text-align: left;

        &__btns {
            position: absolute;
            top: 5%;
            right: 0;
        }
    }
}