@use "sass:math";

// post card
.l-post-card {
    $layout-prefix: &;
    width: fit-content;
    position: relative;

    // to position badge
    &__row--absolute {
        position: absolute;
        top: 5%;
        right: -10%;
        z-index: 0;
    }

    &__row:first-child {
        margin-bottom: 2em;
    }

    &__media {
        width: math.div(272, 16)*1em;
        height: math.div(272, 16)*1em;
        border-radius: 2em;
        overflow: hidden;

    }

    &__header {
        margin-bottom: 1em;
    }
}
