.l-icon-text {
    text-align: center;

    &__row:first-child {
        width: px-to-rem(64px);
        height: px-to-rem(64px);
        margin: auto;
        margin-bottom: 2em;
        padding: 1em;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-bottom: 1em;
    }

    @include up-media("xl") {
        display: flex;
        align-items: flex-start;
        text-align: left;

        &__row:first-child {
            margin: 0;
            margin-right: 2em;
        }
    }
}