.l-shopping-cart {
    width: fit-content;
    padding: 1.5em;
    border-radius: 2em;

    &__products {
        margin-bottom: 3em;
    }

    &__bill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5em;
    }

    &__checkout {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}