@use "sass:math";

.th-card {
    &-bg {
        background-color: var(--c-card-bg);
        transition: background-color ease 400ms;
        &.when-hovered {
            background-color: transparent;
            &:hover {
                background-color: var(--c-card-bg);
            }
        }

        &\:md {
            @include up-media("md") {
                background-color: var(--c-card-bg);
            }
        }
    }
    &-border {
        border: px-to-rem(2px) solid var(--c-border);
    }
}

.category-card {
    width: math.div(128, 16)*1em;
    padding: math.div(28, 16)*1em 1em;
    text-align: center;
    border-radius: math.div(24, 16)*1em;
    cursor: pointer;
    transition: transform ease 400ms, box-shadow ease 400ms;

    &__name {
        width: 100%;
        display: inline-block;
        text-transform: capitalize;
        margin-top: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--c-text);
    }

    &:hover {
        transform: translateY(-2%) scale(1.02);
        // box-shadow: 0.1rem -0.4rem 2rem #528cf815;
    }
}

// product card modules
.product-media {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    object-position: center;
    object-fit: contain;
}

.price {
    &--old {
        color: var(--c-text-strike-through);
        text-decoration: line-through;
    }
}