@use "sass:math";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

*::before, *::after {
    display: inline-block;
}

img, span, time, a, button {
    display: inline-block;
}

a {
    all: unset;
}

body {
    background-color: var(--c-body-bg);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1;
    scroll-behavior: smooth;
    user-select: none;
    letter-spacing: 0.02rem;
    padding: 0 2em;
    padding-top: var(--pad-top);

    @include up-media("sm") {
        padding: 0 math.div(40, 16)*1em;
        padding-top: var(--pad-top);
    }

    @include up-media("xl") {
        padding: 0 math.div(48, 16)*1em;
        padding-top: var(--pad-top);
    }
}

input[type="radio"] {
    appearance: none;
    box-sizing: content-box;
    border: .5rem solid var(--th-c-primary-100);
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
}

label {
    cursor: pointer;
}